@import "~bpk-mixins";

.main {
  display: flex !important;
  margin: -0.5rem 0rem 1.5rem 0rem;
  height: 20vh;
  width: 95vw;
  flex-direction: column;
  padding: 1rem;
  background: white;
  box-shadow: 0rem 0.1rem 0.2rem gray;
  justify-content: space-between;
  border-radius: 0.4rem;
  .bottom {
    display: flex;
    justify-content: space-between;
    max-height: 10vh;
    align-items: center;

    button {
      padding: 0.5rem 2rem;
      background: #05203c;
      border-radius: 5px;
      border: none;
      color: white;
      font-weight: bold;
      font-size: 1.1rem;
    }
    .bottomLeft {
      * {
        margin: 0rem;
      }
    }
  }

  .leg {
    display: flex;
    justify-content: space-between;
    max-height: 10vh;
    align-items: center;
    * {
      margin: 0rem 0.2rem;
    }
    .left {
      display: flex;
      align-items: center;
      .airlineIcon {
        height: 30px;
      }

      .group {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        div {
          display: flex;
          flex-direction: column;
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      h4 {
        margin: 0rem 0rem;
      }
      :nth-child(2) {
        color: blue;
      }
    }
  }

  .stop {
    color: red !important;
  }
  .direct {
    color: cyan !important;
  }
}
